/*
 * @package:    foursites-wordpress-admin-settings
 * @author:     Harm Putman <harm.putman@foursites.nl>
 * @copyright:  2020 - Foursites
 *
 * Created:     2020-08-11, 03:20:54 pm
 * Modified:    2020-08-11, 03:22:40 pm
 * Modified By: Harm Putman <harm.putman@foursites.nl>
 */

.foursites-wordpress-admin-settings-ui-toggle {
    display: flex;
    align-items: center;
}

.foursites-wordpress-admin-settings-ui-toggle label {
    position: relative;

    display: block;

    width: 2rem;
    height: 1.5rem;
    margin: 0 1rem 0 3px;

    cursor: pointer;
}

.foursites-wordpress-admin-settings-ui-toggle label:before,
.foursites-wordpress-admin-settings-ui-toggle label:after {
    position: absolute;
    top: 50%;
    left: 0;

    display: block;

    height: 1rem;

    content: '';
    transform: translate(0, -50%);

    border-radius: 0.5rem;
}

.foursites-wordpress-admin-settings-ui-toggle label:before {
    width: 2rem;

    transition: background-color 0.125s ease-out;

    color: #666;
    background: currentColor;
    box-shadow: 0 0 0 3px currentColor;
}

.foursites-wordpress-admin-settings-ui-toggle label:after {
    width: 1rem;

    transition: left 0.125s ease-out;

    background: #fff;
}

.foursites-wordpress-admin-settings-ui-toggle input[type='checkbox'] {
    display: none;
}

.foursites-wordpress-admin-settings-ui-toggle input[type='checkbox']:checked + label:before {
    color: #007cba;
}

.foursites-wordpress-admin-settings-ui-toggle input[type='checkbox']:checked + label:after {
    left: 1rem;
}

.foursites-wordpress-admin-settings-ui-toggle .description {
    flex: 1;

    margin: 0;
}
